<!DOCTYPE html>
<html>
<head>
  <title>BludKin</title>
  
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- NAV BAR CRAZY STARTS HERE -->
<div id="whole-bar">
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1 id="nav-font"><a href="#">Kin </a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class = "nav-button"><a href="#">Home</a></li>
      <li class="divider"></li>
      <li><a href="/#calendar">Calendar</a></li>
      <li class="divider"></li>
      <li><a href="#">STATS</a></li>
        <li class="divider"></li>
      <li><a href="/#all">Search</a></li>

      
    </ul>

    <!-- KIN DROPDOWN -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li class="has-dropdown"><a href="#">My Kin</a>

        <ul class="dropdown">
          <li><label>Dropdown Level 1 Label</label></li>
          <li class="has-dropdown"><a href="#" class="">Dropdown Level 1a</a>

            <ul class="dropdown">
              <li><a href="#">Dropdown Level 2a</a></li>
              <li><a href="#">Dropdown Level 2b</a></li>
              <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                <ul class="dropdown">
                  <li><a href="#">Dropdown Level 3a</a></li>
                  <li><a href="#">Dropdown Level 3b</a></li>
                  <li><a href="#">Dropdown Level 3c</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown Level 2d</a></li>
              <li><a href="#">Dropdown Level 2e</a></li>
              <li><a href="#">Dropdown Level 2f</a></li>
            </ul>
          </li>
          <li><a href="#">Dropdown Level 1b</a></li>
          <li><a href="#">Dropdown Level 1c</a></li>
          <li class="divider"></li>
          <li><label>Dropdown Level 1 Label</label></li>
          <li><a href="#">Dropdown Level 1d</a></li>
          <li><a href="#">Dropdown Level 1e</a></li>
          <li><a href="#">Dropdown Level 1f</a></li>
          <li class="divider"></li>
          <li><a href="#">See all &rarr;</a></li>
        </ul>
      </li>


      <!-- SETTINGS DROPDOWN -->
      <ul class="right">
      <li class="divider hide-for-small"></li>
      <li class="has-dropdown"><a href="#">Settings</a>

        <ul class="dropdown">
          <li><label>Dropdown Level 1 Label</label></li>
          <li class="has-dropdown"><a href="#" class="">Dropdown Level 1a</a>

            <ul class="dropdown">
              <li><a href="#">Dropdown Level 2a</a></li>
              <li><a href="#">Dropdown Level 2b</a></li>
              <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                <ul class="dropdown">
                  <li><a href="#">Dropdown Level 3a</a></li>
                  <li><a href="#">Dropdown Level 3b</a></li>
                  <li><a href="#">Dropdown Level 3c</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown Level 2d</a></li>
              <li><a href="#">Dropdown Level 2e</a></li>
              <li><a href="#">Dropdown Level 2f</a></li>
            </ul>
          </li>
          <li><a href="#">Dropdown Level 1b</a></li>
          <li><a href="#">Dropdown Level 1c</a></li>
          <li class="divider"></li>
          <li><label>Dropdown Level 1 Label</label></li>
          <li><a href="#">Dropdown Level 1d</a></li>
          <li><a href="#">Dropdown Level 1e</a></li>
          <li><a href="#">Dropdown Level 1f</a></li>
          <li class="divider"></li>
          <li><a href="#">See all &rarr;</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
</div>
<!-- NAV BAR CRAZINESS ^^^^ -->



<div id = "main-container">
<%= yield %>
</div>

<p class=“notice”><%= notice %></p>
<p class=“alert”><%= alert %></p>

<!-- TEMPLATES BELOW -->
<!-- nav bar -->


<!-- this is for the cal and cycle form -->
<script id="calendar-template" type = "text/x-handlebars-template">
<div id="calendar-view">

  <div id="calendar" class="large-6 columns"></div>

  <div id="content-view" class="large-6 columns">
    <div id = "cycle-info">
      <h3>Cycle Info</h3>
        <form action="">
          <input id="start-date-input" class="small-3 columns" type="text" placeholder = "Start Date">

          <button class="button radius round"  id="archive">Archive</button>
        </form>
    </div>
  </div>
</div>
</script>


<!-- Splash page home page -->
  <script id="home-template" type="text/x-handlebars-template">
     <div id="logo"><%= image_tag "logo.png", id: "logo" %>
     <h1>Is Today the Day?</h1>
     <button class="button radius round" >Yes</button> <button class="button radius round" >No</button></div>
  </script>

  
<!-- this is for the search all friends page -->
  <script id="friends-template" type="text/x-handlebars-template">
      <h3>{{name}}</h3>
      <p> <img src= "{{image}}"> </p>
      <p> {{email}}</p>
      <p> <button class="tiny button radius round">SYNC</button>
  </script>

  <script id="stats-template" type="text/x-handlebars-template">
    <h3>Stats</h3>
    <div id="first div"></div>
    <div id="second div"></div>
  </script>




</body>
</html>
